In [23]:
"""
Updating a plot live
"""
import sys
import os
import pandas as pd
from pathlib import Path
import shutil
DATA_PATH = "C:/Users/Quentin/Desktop/corona_virus_analysis/data/"
DATAFRAME_PATH = DATA_PATH + "dataframe/"
CORONA = "C:/Users/Quentin/Desktop/corona_virus_analysis/"


df = pd.read_csv(DATAFRAME_PATH + 'df_data.tsv', parse_dates=True, sep='\t')
df = df.rename(columns={"city": "country", "country": "city"})
df = df.drop('Unnamed: 0', axis=1)
df = df[df.city != 'Sweden']
df = df[df.country == 'Sweden']
df
#df.to_csv(DATAFRAME_PATH + 'df_data1.tsv', sep='\t')

                   datetime country         city  nb_detected
0    18-03-2020_01-01-55_AM  Sweden    Stockholm          5.0
1    18-03-2020_01-01-56_AM  Sweden  Overtornea           0.0
2    18-03-2020_01-03-58_AM  Sweden    Stockholm          1.0
3    18-03-2020_01-03-59_AM  Sweden  Overtornea           0.0
4    18-03-2020_01-06-00_AM  Sweden    Stockholm          1.0
..                      ...     ...          ...          ...
793  19-03-2020_08-46-45_PM  Sweden    Stockholm          0.0
794  19-03-2020_08-46-46_PM  Sweden    Stockholm          0.0
795  19-03-2020_08-46-47_PM  Sweden    Stockholm          0.0
796  19-03-2020_08-46-48_PM  Sweden     Goteborg          0.0
797  19-03-2020_08-46-49_PM  Sweden  Overtornea           0.0

[798 rows x 4 columns]